@import url("../shared/shared.css");

// Home page
.home-page {
  // Main
  .main {
    background-image: url(../../images/home/bg.jpg);
    background-size: 100% 100%;

    &__title {
      @media (max-width: 767px) {
        margin-bottom: 51px;
      }
    }
  }
  // Main END

  // Events
  .events {
    background: #0E0D11;

    &__container {
      max-width: 1420px;
      padding-top: 108px;
      padding-bottom: 72px;
      background-image: url(../../images/home/events/line-bg.svg);
      background-position: bottom center;
      background-repeat: no-repeat;

      @media (max-width: 767px) {
        padding-top: 65px;
        padding-bottom: 54px;
        background-image: none;
      }
    }

    &__title {
      margin-bottom: 80px;

      @media (max-width: 767px) {
        display: none;
        margin-bottom: 33px;
      }
    }

    &-slider {
      position: relative;
      display: flex;
      flex-direction: column;

      &__item {
        position: relative;
        min-height: 400px;
        padding: 114px 10px 20px 20px;
        overflow: hidden;
        transition: .25s;

        @media (max-width: 767px) {
          padding: 51px 29px 20px;
          min-height: 270px;
        }

        &:hover {
          box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.55);

          .events-slider__bg {
            scale: 1.1;
            rotate: -8deg;
          }
        }
      }

      &__logo {
        height: 48px;
        margin-bottom: 21px;

        img {
          height: 100%;
          width: auto;
          max-width: 100%;
          object-fit: contain;
        }
      }

      &__title {
        display: block;
        font-weight: 700;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0.7px;
        color: #fff;
        margin-bottom: 19px;

        @media (max-width: 1200px) {
          font-size: 26px;
        }
      }

      &__bg {
        position: absolute;
        width: 120%;
        height: 120%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        top: -10%;
        left: -10%;
        z-index: -1;
        transition: .5s;
      }

      .owl-stage-outer {
        margin-bottom: 37px;
      }

      .owl-dots {
        display: inline-flex;
        align-items: center;
        margin: 0 58px 0 auto;
        height: 44px;

        button {
          font-size: 0;
          border: none;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background: #fff;
          display: flex;
          padding: 0;
          transition: .2s;

          &:not(:last-child) {
            margin-right: 7px;
          }

          &.active {
            background-color: #0082CB;
          }
        }
      }

      .owl-nav {
        position: absolute;
        right: 0;
        bottom: 0;

        span {
          display: none;
        }
      }

      .owl-prev {
        display: none;
      }

      .owl-next {
        display: inline-flex;
        position: absolute;
        bottom: 0;
        right: 0;
        background: transparent;
        width: 44px;
        height: 44px;
        background: url(../../images/common/arrow-right.svg) no-repeat center !important;
        background-size: 22px !important;
        transition: .2s;
        cursor: pointer;

        &:hover {
          background-image: url(../../images/common/arrow-right-light-blue.svg) !important;
        }
      }
    }

    &-detail {
      padding: 0;
      list-style-type: none;
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;

      @media (max-width: 1200px) {
        font-size: 16px;
      }

      &__item {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        &:before {
          content: "";
          display: block;
          width: 19px;
          height: 19px;
          margin-right: 7px;
          background-size: 15px;
          background-position: center;
          background-repeat: no-repeat;
        }

        &_date:before {
          background-image: url(../../images/home/events/calendar-icon.svg);
        }

        &_address:before {
          background-image: url(../../images/home/events/pin-icon.svg);
        }

        &_office:before {
          background-image: url(../../images/home/events/office-icon.svg);
        }
      }
    }
  }

  // Events END

  // Contact
  .contact {
    &__bg {
      img {
        max-width: 1380px;
      }
    }
  }
  // Contact END
}

// Home page END