@import url("../shared/shared.css");
.sign-up-page .header__btn {
  min-width: 142px;
  justify-content: center;
  padding: 9px 19px;
  letter-spacing: 0.05em;
}
.sign-up-page .header__btn:not(:last-child) {
  margin-right: 17px;
}
@media (max-width: 767px) {
  .sign-up-page .header__btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 26px;
  }
}
.sign-up-page .header-btn-wrap {
  margin-left: auto;
  flex-direction: row;
}
@media (max-width: 767px) {
  .sign-up-page .header-btn-wrap {
    flex-direction: column;
    margin: 0;
  }
}
.sign-up-page .header__mobile-btn {
  display: none;
}
@media (max-width: 767px) {
  .sign-up-page .header__mobile-btn {
    display: block;
  }
}
.sign-up-page .header-menu {
  position: static;
  width: auto;
  max-width: none;
  min-height: auto;
  display: block;
  padding: 0;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .sign-up-page .header-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 111px 40px 100px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
}
.sign-up-page .sign-up {
  color: #0E0D11;
}
.sign-up-page .sign-up__container {
  padding-top: 147px;
  padding-bottom: 88px;
}
@media (max-width: 767px) {
  .sign-up-page .sign-up__container {
    padding: 120px 13px 50px;
  }
}
.sign-up-page .sign-up__title {
  color: #0E0D11;
  margin-bottom: 42px;
}
.sign-up-page .sign-up__wrap {
  max-width: 1106px;
  margin: 0 auto;
}
.sign-up-page .sign-up-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 78px;
  padding: 0;
  list-style-type: none;
  pointer-events: none;
}
@media (max-width: 767px) {
  .sign-up-page .sign-up-steps {
    margin-bottom: 30px;
  }
}
.sign-up-page .sign-up-steps__link {
  position: relative;
  display: flex;
  background: #FFFFFF;
  border: 6px solid #DBE1F3;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  cursor: default;
}
.sign-up-page .sign-up-steps__link.active {
  background: #0082CB;
  border: 11px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-up-page .sign-up-steps__link.done {
  background-color: #0082CB;
  border-color: #0082CB;
  background-image: url(../../images/common/check-icon.svg);
  background-size: 17px;
  background-position: center;
  background-repeat: no-repeat;
}
.sign-up-page .sign-up-steps__link.done:after {
  background-color: #0082CB !important;
}
.sign-up-page .sign-up-steps__item:not(:last-child) .sign-up-steps__link {
  margin-right: 80px;
}
.sign-up-page .sign-up-steps__item:not(:last-child) .sign-up-steps__link:after {
  content: "";
  position: absolute;
  width: 140px;
  height: 4px;
  background: #DBE1F3;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: -1;
}
.sign-up-page .sign-up__item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .sign-up-page .sign-up__item-title {
    font-size: 23px;
    line-height: 31px;
    margin-bottom: 28px;
  }
}
.sign-up-page .sign-up .contact-form__field:last-child {
  margin-bottom: 0;
}
@media (max-width: 545px) {
  .sign-up-page .sign-up .contact-form__field_big-label.select {
    height: 75px;
  }
}
@media (max-width: 545px) {
  .sign-up-page .sign-up .contact-form__field_big-label .select-selected {
    padding-top: 23px;
  }
}
@media (max-width: 545px) {
  .sign-up-page .sign-up .contact-form__field_big-label .input__field {
    height: 59px;
    padding: 39px 0 6px;
  }
}
.sign-up-page .sign-up .contact-form__list {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .sign-up-page .sign-up .contact-form__list {
    margin-bottom: 21px;
  }
}
.sign-up-page .sign-up__btn-next {
  min-width: 201px;
  padding: 22px 20px 19px;
  letter-spacing: 0.05em;
}
.sign-up-page .sign-up .field-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.sign-up-page .sign-up__block-title {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin: 4px 0 13px 0;
}
@media (max-width: 767px) {
  .sign-up-page .sign-up__block-title {
    font-size: 23px;
    line-height: 31px;
  }
}
.sign-up-page .sign-up-form-text {
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 34px;
}
@media (max-width: 767px) {
  .sign-up-page .sign-up-form-text {
    font-size: 15px;
  }
}
.sign-up-page .sign-up .checkbox-group_terms {
  width: 72%;
  margin-bottom: 9px;
}
@media (max-width: 1200px) {
  .sign-up-page .sign-up .checkbox-group_terms {
    width: 100%;
  }
}
.sign-up-page .sign-up .checkbox-group_terms .checkbox {
  display: flex;
}
.sign-up-page .sign-up .payment-method-fields {
  width: 100%;
  display: none;
}
.sign-up-page .sign-up #step-2 .contact-form__field {
  margin-bottom: 28px;
}