@import url("../shared/shared.css");

// Company page
.company-page {

  // Main
  .main {
    background-image: url(../../images/company/bg.jpg);
    background-position: center -9vh;
  }

  // Main END

  // Features
  .features {
    &__container {
      background-image: url(../../images/company/lines-bg.svg);

      @media (max-width: 1320px) {
        background-image: none;
        overflow: hidden;
      }

      @media (max-width: 767px) {
        padding-bottom: 20px;
      }
    }

    &__title {
      margin-bottom: 53px;
    }

    &__text {
      width: 65.3%;
      line-height: 26px;
    }

    &__row {
      &:not(:last-child) {
        margin-bottom: 187px;

        @media (max-width: 1200px) {
          margin-bottom: 80px;
        }

        @media (max-width: 767px) {
          margin-bottom: 27px;
        }
      }
    }

    &__img {
      &_1 {
        top: -54px;
        right: -20px;

        @media (max-width: 1200px) {
          top: 50%;
          right: 0;
          width: 37%;
          translate: 0 -60%;
          min-width: auto;
        }

        @media (max-width: 767px) {
          width: 100%;
          translate: 0;
          margin: 44px auto 0;
        }
      }

      &_2 {
        top: -189px;
        left: -100px;

        @media (max-width: 767px) {
          width: 131%;
          margin: -4px auto 0 -59px;
        }
      }
    }
  }

  // Features END

  // Our principles
  .our-principles {
    background-color: #0E0D11;

    &__container {
      max-width: 1423px;
      padding-top: 80px;
      padding-bottom: 147px;
      background-image: url(../../images/company/principles-line.svg);
      background-position: top center;
      background-repeat: no-repeat;

      @media (max-width: 767px) {
        padding-top: 46px;
        padding-bottom: 70px;
      }
    }

    &__title {
      margin-bottom: 80px;

      @media (max-width: 767px) {
        margin-bottom: 33px;
      }
    }

    &__list {
      display: flex;

      @media (max-width: 767px) {
        flex-wrap: wrap;
      }
    }

    &__item {
      position: relative;
      display: flex;
      width: 100%;
      overflow: hidden;
      transition: .3s;

      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        transition: .3s;

        @media (max-width: 1200px) {
          height: 271px;
        }
      }

      p {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 34px;
        line-height: 42px;
        text-align: center;

        @media (max-width: 1200px) {
          font-size: 24px;
          line-height: 130%;
          padding: 0 10px;

          br {
            display: none;
          }
        }

        @media (max-width: 767px) {
          font-size: 34px;
          padding: 0 20px;
        }
      }

      &:hover {
        box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.55);

        img {
          scale: 1.2;
          rotate: -7deg;
        }
      }
    }
  }

  // Our principles END

  // Info section
  .info-section {
    background-image: url(../../images/company/banner-bg.jpg);
    background-position: bottom center;

    &__container {
      padding-top: 106px;
      padding-bottom: 117px;

      @media (max-width: 767px) {
        padding-top: 204px;
        padding-bottom: 204px;
      }
    }

    &__title {
      margin-bottom: 38px;

      @media (max-width: 767px) {
        line-height: 41px;
        margin-bottom: 50px;
      }
    }

    &__btn {
      min-width: 320px;
    }
  }

  // Info section END

}

// Company page END